a:link{
    color: blue;
}
a:visited{
    color: green;
}
a:hover{
    color: yellow;
}
a:focus{
    color:black;
}
a:active{
    color: red;
}
div{
    border:1px solid red;
    position: relative;
    right: 22px;

}
/*div{*/
    /*border: 100px solid transparent;*/
    /*width: 0px;*/
    /*height: 0px;*/
    /*border-left-color: lime;*/
    /*border-top-width: 0px;*/
/*}*/
div>span{
    width: 2000px;
    height: 200px;
    line-height: 1.2em;
    display: inline-block;
    /*position: relative;*/
    /*left: 22px;*/
}